extends layout

block content
  .page
    nav
      span logo_familydiary
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title FamilyDiary
        //- button.answer.answer-yes Yes!
        //- button.answer.answer-no No?
