extends layout

block content
  .page
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title Family Diary

        form(action="/api/upload" method='post', enctype='multipart/form-data')
          label(for="document") Upload a document
          input#document(type='file', name='anna_is_sleepy')
          input(type='submit', name='uploadDocument', value='Upload Document')
