extends layout

block content
  .page
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title Family Diary
      a.href(href='/') Back to index

      //-this defines the welcome page layout
