extends layout

block content
  h1 #{user.firstName} (#{user.birthName}) (#{user.lastName})

  each document in user.documents
    h3 #{document.name}

    //- this file shows how the user should be displayed
